{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Flags edit</h1>
    {% include '::flashmessage.html.twig' %}
    <form action="{{ path('matuck_library_flags_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}
        <p>
            <button type="submit">Save</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('matuck_library_flags') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('matuck_library_flags_delete', { 'id': entity.id, 'redirect': 'flags' }) }}">Delete</a>
    </li>
</ul>
{% endblock %}
