<div class="row {{ nsfw(book)}}" class="border-bottom: 1px solid #eee; margin-bottom:10px;">
    <h2 style="line-height: 27px;"><a style="color:#000" href="{{ path('matuck_library_book_show', { 'id': book.getId() }) }}">{{ book.getTitle() }}</a></h2>
    <h3 style="line-height: 27px;">Written By: <a href="{{ path('matuck_library_browse_author', { 'id': book.getAuthor().getId() }) }}">{{ book.getAuthor().getName() }}</a></h3>

    {% if book.getSerie() !=null %}
      <h3 style="line-height: 27px;"><a style="color:#B3B3B3" href="{{ path('matuck_library_browse_serie', { 'id': book.getSerie().getId() }) }}">Book {{ book.getSerieNbr() }} of "{{ book.getSerie().getName() }}"</a></h3>
    {% endif %}
    <div class="span2">
         <a href="{{ path('matuck_library_book_show', { 'id': book.getId() }) }}"><img class="cover" src="{{ coverurl(book.getId()) }}" width="114" height="162"></a>
    </div>
    <div class="span6">
      {{ book.getSummary()|striptags|slice(0, 500) }}
    </div>
  </div>
    <hr>